doctype html
html(lang="en")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        if (user)
            p you are logged in as #{user.username}
            a(href='/account/logout') Logout
        else
            a(href='/account/login') Login
            br
            a(href='/account/register') Register
        block content